<div class="grid grid-cols-1 md:grid-cols-{{columns}} gap-4">
    {{#each items}}
    <label class="cursor-pointer relative flex items-center gap-4 rounded-md bg-neutral-50 p-2 hover:scale-105 transition-transform text-neutral-600 dark:text-neutral-300 dark:bg-neutral-900 has-[:checked]:border-black has-[:checked]:bg-black/5 has-[:checked]:text-neutral-900 has-[:checked]:border has-[:checked]:border-primary has-[:focus]:outline has-[:focus]:outline-2 has-[:focus]:outline-offset-2 has-[:focus]:outline-black dark:has-[:checked]:border-white dark:has-[:checked]:text-white dark:has-[:checked]:bg-white/5 dark:has-[:focus]:outline-white border border-neutral-300 dark:border-neutral-700">
      <input x-on:click="$data[`{{../group}}`] = '{{title}}'"
             type="radio" 
             id="{{title}}" 
             aria-describedby="description" 
             class="sr-only peer" 
             name="{{../group}}" 
             value="{{title}}" 
             {{#if checked}}checked{{/if}}>
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 16 16" fill="currentColor" class="peer-checked:visible invisible w-5 h-5 shrink-0">
            <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd">
        </svg>
        <i class="{{icon}}"></i>
        <div class="flex flex-col">
          <h3 class="font-medium" aria-hidden="true">{{title}}</h3>
          <small id="description">{{description}}</small>
        </div>
    </label>
    {{/each}} 
</div>
