<div class="form-group">
  <span class="subtitle no-select">Repository URL:</span>
  <input type="text" name="repository" value="{{tapp.git.repository}}" />

  <span class="subtitle no-select">Branch:</span>
  <input type="text" name="branch" value="{{#if tapp.git.branch}}{{tapp.git.branch}}{{else}}main{{/if}}" />

  <span class="subtitle no-select">Build command:</span>
  <input type="text" name="buildcmd" value="{{tapp.container.buildCommand}}" />

  <span class="subtitle no-select">Run command:</span>
  <input type="text" name="runcmd" value="{{tapp.container.runCommand}}" />
</div>
