<div class="form-group">
  <span class="subtitle no-select">Name:</span>
  {{#if tapp.name}}
    <div class="subtitle-white">{{tapp.name}}</div>
    <input type="hidden" name="name" value="{{tapp.name}}" />
  {{else}}
    <input type="text" name="name" value="{{tapp.name}}" />
  {{/if}}
</div>
<div class="form-group">
  <span class="subtitle no-select">Image:</span>
  <div class="subdomain-container">
    <input
      type="text"
      name="image"
      class="subdomain-input"
      maxlength="100"
      value="{{tapp.container.image}}"
    />
    </div>
<div class="form-group">
    <span class="subtitle no-select">Port:</span>
    <div class="subdomain-container">
      <input
        type="text"
        name="port"
        class="subdomain-input"
        maxlength="4"
        value="{{tapp.container.port}}"
       />
    </div>
</div>
<div class="form-group">
  <span class="subtitle no-select">Shared Domain:</span>
  <div class="subdomain-container">
    <input
      type="text"
      name="shared"
      class="subdomain-input"
      maxlength="20"
      value="{{tapp.domains.shared}}"
    />
    <span class="static-subdomain no-select">.mpw.sh</span>
  </div>
</div>
<div class="form-group">
  <span class="subtitle no-select">Custom Domain:</span>

  <div class="subdomain-container">
    {{#if custom_enabled}}
      <input
        type="text"
        id="customDomain"
        name="custom"
        value="{{tapp.domains.custom}}"
        class="custom-domain-input"
      />
      <button
        type="button"
        id="toggleCustomDomain"
        class="toggle-custom-domain-btn active"
      >Disable</button>
    {{else}}
      <input
        type="text"
        id="customDomain"
        name="custom"
        value="{{tapp.domains.custom}}"
        disabled
        class="custom-domain-input"
      />
      <button
        type="button"
        id="toggleCustomDomain"
        class="toggle-custom-domain-btn"
      >Enable</button>
    {{/if}}
    <input type="hidden" id="enableCustomDomain" name="enableCustomDomain" />
  </div>
</div>
<div class="form-group">
  <span class="subtitle no-select">Environment Variables:</span>
  <div id="key-value-pairs">
    {{#each tapp.config}}
      <div class="form-group-inline key-value-group">
        <input
          class="kv-input"
          type="text"
          name="env_key"
          placeholder="Key"
          value="{{@key}}"
        />
        <input
          class="kv-input"
          type="text"
          name="env_value"
          placeholder="Value"
          value="{{this}}"
        />
        <button type="button" class="delete-btn">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    {{/each}}
    <div class="form-group-inline key-value-group">
      <input class="kv-input" type="text" name="env_key" placeholder="Key" />
      <input
        class="kv-input"
        type="text"
        name="env_value"
        placeholder="Value"
      />
      <button type="button" class="delete-btn">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
</div>
<button type="button" id="add-env-btn" class="add-env-btn">+</button>

<script src="/static/custom_checkbox.js"></script>
<script src="/static/env_vars.js"></script>
<script src="/static/post.js"></script>
