<div id="title-container" class="title-container" hx-swap-oob="true">
  {{#if return_url}}
    <a
      href="{{return_url}}"
      hx-get="{{return_url}}"
      hx-target="#content"
      hx-push-url="{{return_url}}"
    >
      <button class="back-btn"><i class="fa-solid fa-arrow-left"></i></button>
    </a>
  {{/if}}

  <h1 class="head no-select">{{title}}</h1>
  {{#if action}}
    {{#if action.is_form}}
      <button
        id="submitForm"
        class="action-btn"
        type="submit"
        form="editForm"
        hx-push-url="{{action.url}}"
      >{{action.name}}</button>
    {{else}}
      <a href="{{action.url}}">
        <button class="action-btn">{{action.name}}</button>
      </a>
    {{/if}}
  {{/if}}
</div>
<title>{{title}}</title>
