<div class="title-container">
  {{#if return_url}}
    <a href="{{return_url}}">
      <button class="back-btn"><i class="fa-solid fa-arrow-left"></i></button>
    </a>
  {{/if}}

  <h1 class="head no-select">{{title}}</h1>
  {{#if action}}
    {{#if action.is_form}}
      <button
        id="submitForm"
        class="action-btn"
        type="submit"
        form="editForm"
      >{{action.name}}</button>
    {{else}}
      <a href="{{action.url}}">
        <button class="action-btn">{{action.name}}</button>
      </a>
    {{/if}}
  {{/if}}
</div>
<br />
